<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>CS 253 Blog</title>
</head>

<body>
    <header class="header">
    <table width="100%"><tr>
        <td align='left'>
            <a href="/blog" class="main-title">CS 253 Blog </a>
        </td><td align="right">
            {% if u %}
            <a href="/blog/logout">Logout &nbsp;({{u.username}})</a>
            {% endif %}
        </td></tr>
        <tr><td>&nbsp;</td><td align='right'>
            {% if u %}
                <!-- zero post id, indication for new post -->
                <a href="/blog/newpost/0"> Post a blog</a>
            {% endif %}
            </td></tr>        
        <tr><td colspan=2><hr></td></tr>
    </table>
    </header>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>

