{% extends "base.html" %}

{% block content %}
  <div class="post-heading">
    <div class="post-title">
      {{post.subject}}
    </div>
    <div class="post-date">
      By: {{post.created_by | getusername}} &nbsp;&nbsp;
      {{post.created.strftime("%b %d, %Y")}}
    </div>
  </div>
  <form action='/blog/comment/{{post.key().id()}}' method="post">
      <hidden name='post_id' value='{{post.key().id()}}'>
      <label for="comment">Comment:</label>
      <textarea rows=4 cols=80 name="comment"></textarea> 
      <div>
        <input type="submit"></div>
  </form>
  <hr>
  {% for c in coms %}
    <div class="post-heading">
        <div class="post-title">
            Comments
        </div>
        <div class="post-date">
            By: {{c.user_id  | getusername}} &nbsp;&nbsp;
            {{c.created.strftime("%b %d, %Y")}}
        </div>
    </div>
    <div>
        {{ c.comment | escape }}
    </div>
    <br>
  {% endfor %}
    
{% endblock %}
