{% extends "base.html" %}

{% block content %}
    {% if p %}
        <h2>Edit post</h2>
        <form method="post" action='/blog/newpost/{{p.key().id()}}'>
        <hidden name='post_id' value='{{p.key().id()}}' />
    {% else %}
        <h2>New Post</h2>
        <form method="post" action='/blog/newpost/0'>
        <hidden name='post_id' value='0' />
    {% endif %}    
      <label>
        <div>Subject</div>
        {% if p: %}
            <input type="text" name="subject" value="{{p.subject}}">
        {% else %}
            <input type="text" name="subject" value="">
        {% endif %}
      </label>

      <label>
        <div>Blog</div>
        {% if p: %}
            <textarea class='newpost' name="content">{{p.content}}</textarea>
        {% else %}
            <textarea class='newpost' name="content"></textarea>
        {% endif%}
      </label>

      <div class="error">{{error}}</div>
      <input type="submit">&nbsp;&nbsp;&nbsp;
      {% if p: %}
        <input type="button" name='Cancel' value="Cancel"
            onclick="window.location.href='/blog/{{p.key().id()}}'">
      {% else %}
        <input type="button" name='Cancel' value="Cancel"
            onClick="window.location.href='/blog/'; return false;">
      {% endif %}
    </form>
{% endblock %}
